html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/acidsound/Tle-CSS@master/dist/tle.css")
    link(rel="stylesheet", href="main.styl")
    title LoomXplorer
  body
    nav
      .logo
        img(src="/public/loom.svg")
        h5 Block information
  
    .container
    
      #blocks
        div.header
          .row
            .head
              | Block Height
            .desc
              | Detail
        ul#blockMeta
          li.row.hash.obj
            .head loading
            .desc
              .transaction
              
              .validator
                span.title Validator
                span.link 
              .since  
      #blockDetail
        h5
          | Transaction Detail
        .blockHeightHeader
          span
            | Block Height
          span.blockHeight
          
        .txDetail
          .hash
            span Hash
            span.hash
          .result
            span Result
            span.info
            span.data 
    footer
      span appsoulute
    script(src="./main.js")
