html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/acidsound/Tle-CSS@master/dist/tle.css")
    link(rel="stylesheet", href="style/main.styl")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    title LoomXplorer
  body
    nav
      .logo
        img(src="/public/loom.svg")
        h5 Block information
      .slider
        input#cb.tgl.tgl-skewed.js-updateLoop(type = "checkbox" checked= "true")
        label.tgl-btn(data-tg-off = "Stop", data-tg-on = "Update", for = "cb")      
    .container
      #blocks
        //- 블록 리스트 헤더 
        .blocks__header
          .row
            .head
              | Block Height
            .desc
              | Description
        //- 블록 리스트 메타      
        ul#blocks__meta
          li.row.hash.obj
            .head 
            .desc
              .transaction
              .validator
                span.highlightedText 
                  | Validator
                span.link
              .since  
      #blockDetail
        h5
          | Transaction Detail
        .blockHeightHeader
          span.highlightedText
            | Block Height
          span.blockHeight
          
        .txDetail
          .hash
            span.highlightedText Hash
            span.hash
          .result
            span.highlightedText Result
            span.info
            span.data 
    
    script(src="./main.js")
