html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/acidsound/Tle-CSS@master/dist/tle.css")
    link(rel="stylesheet", href="style/main.styl")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    link(rel="icon" type="image/png" sizes="16x16" href="public/favicon-16x16.png")
    title LoomXplorer
  body
    nav
      .logo
        img(src="/public/loom.svg")
        h5 Block information
      .slider
        input#cb-update.tgl.tgl-light.js-updateLoop(type = "checkbox" checked= "true" style="display:none")
        label.tgl-btn(for = "cb-update")      
    .container
      #blocks
        //- 블록 리스트 헤더 
        .blocks__header
          .row
            .head
              | Block Height
            .desc
              | Description
        //- 블록 리스트 메타      
        ul#blocks__meta
          li.row.hash.obj
            .head 
            .desc
              .transaction
                span
                span
                  | transactions
              .validator
                span.highlightedText 
                  | Validator
                span.link
              .since
      #blockDetail
        h5
          | Transaction Detail
        .blockHeightHeader
          span.highlightedText
            | Block Height
          span.blockHeight
          
        .txDetail
          .hash
            span.highlightedText Hash
            span.hash
          .result
            span.highlightedText Result
            span.info
            span.data 
    
    footer 
      small 
        | Official Site : &nbsp; 
        a(href="https://loomx.io/" rel="nofollow" target="_blank") 
          | https://loomx.io/


    script(src="./main.js")
