

body
  margin 0
  padding 0


.obj
  display none !important

nav,footer
  padding 1rem
  background-color #9AD1E1
  color black
  font-weight 900
nav

  .logo
    margin 1rem
    display flex
    img
      max-width 3rem
      height 3rem
      padding .5rem
footer


.container
  padding 1rem
  margin 1rem

  display flex
  .header
    font-weight bolder
    margin-bottom 2rem
  div
    width 50%

#blocks,#blockDetail
  margin 2rem
  padding 2rem
  box-shadow 0 0 40px #ddd

#blocks
  ul#blockMeta,.header
    padding-left 0
    .hash
      border 1px dashed #ddd
      padding 1rem
    .row
      display flex
      .head
        width 7em
        margin-left 0
        padding-left 0
      .desc
        margin-left 1em
        .validator
          padding .5rem
          span.title
            background-color #9AD1E1
            padding .5rem 1rem .5rem 1rem
            border-radius .25rem
            color white
            font-weight:bolder;
          .link
            padding-left 1em
        .since
          text-align right
#blockDetail
  span
    margin-right 1em




@media screen and (min-width: 600px){
  .container {
   -webkit-flex-direction: row;
    flex-direction: row;
  }
  footer {
    background-color: #ccc;
  }
}

@media screen and (max-width: 600px){
  .container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
