.obj
  display: none !important

.container
  display: flex
  div
    width: 50%
#blocks
  ul#blockMeta,.header
    padding-left: 0
    .row
      display: flex
      .head
        width: 7em
        margin-left: 0
        padding-left: 0
      .desc
        margin-left: 1em
        .validator
          .link
            padding-left: 1em

