#blocks,#blockDetail
  margin 2rem
  padding 2rem
  box-shadow 0 0 30px #ddd

#blocks
  ul#blocks__meta,.blocks__header
    padding-left 0
    li
      animation slide-down 1s ease-in
      list-style-type none
      .head
        font-size 1.4em
    .hash
      border 1px dashed #ddd
      padding 1rem

    .row
      transition background-color .5s ease-all
      display flex
      &:hover
        background-color #9AD1E1

      .head
        flex 1 0 0
        margin-left 0
        padding-left 0

      .desc
        flex 3 0 0
        .transaction
          span
            margin-left 1em
        .validator
          padding .5rem
          span.title
            font-weight bolder
          span.link
            padding-left 1em
            word-break break-all
        .since
          text-align right
          font-size .8em
#blockDetail
  span
    margin-right 1em
    word-break break-all
.obj
  display none !important

.highlightedText
  background-color #9AD1E1
  padding .2rem 1rem .2rem 1rem
  margin-bottom .2rem
  border-radius .25rem
  color white


@keyframes slide-down
  0%
    opacity 0
    transform translateY(-10px)
  100%
    opacity 1
    transform translateY(0)
