// container attr //
.container

  display flex
  justify-content center
  .header
    font-weight bolder
    margin-bottom 2rem


@media screen and (min-width: 600px)
  .container,.row
    -webkit-flex-direction row
    flex-direction row
    div
      flex 1 0 0



@media screen and (max-width: 600px)
  .container,.row
    -webkit-flex-direction column
    flex-direction column
  .container
    #blockDetail
      position fixed
      top 6em
      right 1em
      bottom 1em
      background-color #fff
      left 1em
      display none
      &.chosen
        display block !important
