.tgl
  display none
  & + .tgl-btn
    outline 0
    display block
    width 4em
    height 2em
    position relative
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    &:after
      left 0
      top -100%
    &:before
      display none
  &:checked
    & + .tgl-btn
      &:after
        left 50%
        top -100%


.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn
  -moz-box-sizing border-box
  box-sizing border-box

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection
  background none

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection
  background none

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before
  position relative
  display block
  content ""
  width 50%
  height 100%

.tgl-light
  & + .tgl-btn
    background #f0f0f0
    border-radius 2em
    padding 2px
    -webkit-transition all .4s ease
    transition all .4s ease
    &:after
      border-radius 50%
      background #fff
      -webkit-transition all .2s ease
      transition all .2s ease
  &:checked
    & + .tgl-btn
      background #7fc777
